[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[dev-packages]
rope = "*"
pylint = "*"

[packages]
coloredlogs = "*"
itsdangerous = "*"
tensorflow = "*"
pandas = "*"
gunicorn = "*"
reverse-geocode = "*"
future = "*"
flask = "*"
flask-cors = "*"
pyjwt = "*"
mysqlclient = "*"

[requires]
python_version = "3.6"
